$lightTheme: true;

$colors: (
   headerFontColor: #2c2f3c,
   headerPColor: #2c2f3c,
   headingWordBg: #14a0c7,
   buttonBgColor: #699900,
   buttonTextColor: #fff,
   sectionHeaderColor: #2c2f3c,
   sectionCardBg: #2c2f3c,
   cardsFontColor: #fff,
   gradient1: #659412,
   gradient2: #3967ae,
   gradient3: #2f5dd3,
   footerBg: #21232e
);

$headerHeadingSize: 102px;
$buttonFontSize: 25px;