$lightTheme: false;

$colors: (
   headerFontColor: #fff,
   headerPColor: #fff,
   headingWordBg: #ff4e33,
   buttonBgColor: #e3ac00,
   buttonTextColor: #fff,
   sectionHeaderColor: #fff,
   sectionCardBg: #3b3f50,
   cardsFontColor: #fff,
   gradient1: #d89b0b,
   gradient2: #b36031,
   gradient3: #912b53,
   footerBg: #3b3f50,
);
$headerHeadingSize: 102px;
$buttonFontSize: 25px;